<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magical Arena</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div id="container">
      <h1>Welcome, to<br />Magical Arena!</h1>
      <form action="/arena" method="post">
        <div>
          <input type="text" name="player1" placeholder="Player 1" />
          <input type="text" name="player2" placeholder="Player 2" /><br />
        </div>
        <Button>Start Game</Button>
      </form>
    </div>
  </body>
</html>